<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/imgs/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filament Metingen</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <img src="/imgs/logo.png" alt="The Expert 3D Logo" class="logo">
    </header>

    <main>
        <div class="info-box">
            <p><strong>Diameter:</strong> <span id="latest-measurement">N/A</span></p>
            <p><strong>Gemiddelde:</strong> <span id="avarage-measurement">N/A</span></p>
            <p><strong>Highest:</strong> <span id="highest-measurement">N/A</span></p>
            <p><strong>Lowest:</strong> <span id="lowest-measurement">N/A</span></p>
            <p><strong>Spool nr:</strong> <span id="spool-number">001</span></p>
            <p><strong>Duration:</strong> <span id="duration">00:00:00</span></p>
            <p><strong>Length:</strong> 100 meter</p>
        </div>

        <div class="controls">
            <label for="material-select" class="dropdown-label">Materiaalsoort:</label>
            <div class="custom-dropdown">
                <select id="material-select">
                    <option value="" disabled selected>Selecteer materiaal</option>
                    <option value="PLA">PLA</option>
                    <option value="PETG">PETG</option>
                    <option value="ABS">ABS</option>
                </select>
            </div>
            <button class="start-btn" disabled>Start</button>
            <button class="stop-btn" disabled>Stop</button>
            <button class="reset-btn" disabled>Reset</button>
            <button class="save-btn" disabled>Save</button>
        </div>

        <h2>History</h2>
        <canvas id="historyChart"></canvas>
    </main>

    <script type="module" src="js/script.js"></script>
</body>
</html>